@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,800');

* {
  box-sizing: border-box;
}

html, body, .resume-container {
  width: 100%;
  min-height: 100%;
}

.resume-container {
  background-color: #FEFEFE;
  font-family: 'Montserrat', sans-serif;
}